.DS_Store
wandb/
SI/wandb/
nohup.out
__pycache__/
*.pyc
.vscode/
Cargo.lock
target/
.picowgo
.DS_Store
data/
*.c
*.so

/ababa.py
/cbdsicbdu.py
/nlsimulator.py
/nnlsim.py

mpc.c
mpc.so

*.forces
dipc_mpc/*

dipc_mpc_model.*
debug_fatrop*
dipc_mpc.mat

*.casadi